$blue: #389af5;

$body-color: #414141;

$font-famili-sans-serif: rubik, system-ui, -apple-system, "sage UI", Roboto,
    "Helvetica Neue", "Noto Sans", "Arial", "Liberation Sans", "Helvetica",
    "Arial", "Lucida Grande", Sans-serif, "Segoe UI Symbol", "Noto Color Emoji";

$headings-font-weight: 700;
